/* navbar */
.menuLink{
  transition: all linear 0.3s;
}
.menuLink:hover{
  color: rgb(113, 113, 248);
}
.scrolled {
  backdrop-filter: blur(10px);
}
.menubar{
  display: none;
}
.showMenu{
display: block;
}
.mobileMenu{
  background-color: #15182F;
  width: 85%;
  min-height: 100vh;
  height: 100%;
  z-index: 100;
  position: fixed;
  transition: height 5s ease, opacity 5s ease; 
}
.close{
  border: 1px solid white;
  border-radius: 100%;
  cursor: pointer;
}
@media (max-width:750px) { 
  .hidden{
    display:none;
  }
  .menubar{
    display: block;
  }
  .container{
    max-width: 550px !important;
  }
}
@media (max-width:580px) {
  .container{
    max-width: 450px !important;
  }
}
/* header */
.mainBtn{
  background: linear-gradient(114.23deg, #61B895 -62.2%, #149ED5 29.07%, #FF1CF7 111.62%);
  padding: 12px 13px;
  border-radius: 2px;
  gap: 5px;
  transition: transform 0.3s ease;
}
.videoBtn{
  transition: transform 0.3s ease;
}
.mainBtn:hover,.videoBtn:hover{
  transform: translateX(5px) translateY(5px);
}

.btnText{
  background: linear-gradient(114.23deg, #61B895 -62.2%, #149ED5 29.07%, #FF1CF7 111.62%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
p{
  margin: 0;
}
.header_title{
  font-size: 54px;
}
.header{
  padding-top: 150px;
}

@media (max-width:1250px){
  .slide{
    width: 21% !important;
  }
}

@media (max-width:1150px){
  .header_title{
    font-size: 48px;
  }
}
@media (max-width:1060px){
  .slide img{
    width: 88px;
  }
  .header_title{
    font-size: 36px;
  }
  .header_img{
    width: 365px;
  }
}

@media (max-width:875px){
  .header{
    flex-direction: column;
    gap: 30px;
    justify-content: center;
  }
  .header_img{
    width: 545px;
  }
  .btnWrapper{
    justify-content: center;
  }
  .header_title{
    text-align: center;
  }
  .header_text{
    text-align: center;
  }
}

@media (max-width:570px){
  .slide img {
    width: 70px;
}
  .header_img{
    width: 365px;
  }
  .header_title{
    font-size: 33px;
  }
  .header {
    padding-top: 113px;
}
}

@media (max-width:430px){
  .btnWrapper{
    flex-direction: column;
  }
  .header_img{
    width: 340px;
  }
  .slide {
    width: 28% !important;
}
}
/* slider */
.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* Slider trek */
.slider-track {
  display: flex;
  animation: slide 30s linear infinite;
}

/* Slaydlar */
.slide {
  width: 17%;
  padding: 18px 0;
  flex: 0 0 auto; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background: white;
  color: white;
}

/* Animatsiya */
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* footer */
.footer{
  background-color: #15182F;
  border-top: 1px solid #434343;
}
.footer-ul-title{
  color: #FCFCFC;
  margin-bottom: 6px;
}
.footer-ul-text{
  color: #B6B7BE;
  cursor: pointer;
  margin-bottom: 5px;
}
.footer-ul-text:hover{
  color: #c8c9cf;
}
.footer-p-title{
  color: #B6B7BE;
  margin-bottom: 6px;
}
.footer-phone{
  font-size: 20px;
}

@media (max-width:1060px){
  .footer_wrapper{
    flex-wrap: wrap;
    gap: 20px;
  }
}