/* navbar */
.menuLink {
  color: white; 
  transition: color 0.3s ease;
}
.menuLink:hover{
  color: rgb(113, 113, 248);
}
.scrolled {
  /* backdrop-filter: blur(10px); */
  z-index: 100;
  background: #15182F;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.menubar{
  display: none;
}
.showMenu{
display: block;
}
.mobileMenu{
  background-color: #15182F;
  width: 85%;
  min-height: 100vh;
  height: 100%;
  z-index: 100;
  position: fixed;
  transition: height 5s ease, opacity 5s ease; 
}
.close{
  border: 1px solid white;
  border-radius: 100%;
  cursor: pointer;
}
@media (max-width:750px) { 
  .hidden{
    display:none;
  }
  .menubar{
    display: block;
  }
  .container{
    max-width: 550px !important;
  }
}
@media (max-width:580px) {
  .container{
    max-width: 450px !important;
  }
}
/* header */
.mainBtn{
  background: linear-gradient(114.23deg, #61B895 -62.2%, #149ED5 29.07%, #FF1CF7 111.62%);
  padding: 12px 13px;
  border-radius: 2px;
  gap: 5px;
  transition: transform 0.3s ease;
}
.videoBtn{
  transition: transform 0.3s ease;
}
.mainBtn:hover,.videoBtn:hover{
  transform: translateX(5px) translateY(5px);
}

.btnText{
  background: linear-gradient(114.23deg, #61B895 -62.2%, #149ED5 29.07%, #FF1CF7 111.62%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
p{
  margin: 0;
}
.header_title{
  font-size: 54px;
}
.header{
  padding-top: 150px;
}

@media (max-width:1250px){
  .slide{
    width: 21% !important;
  }
}

@media (max-width:1150px){
  .header_title{
    font-size: 48px;
  }
}
@media (max-width:1060px){
  .slide img{
    width: 88px;
  }
  .header_title{
    font-size: 36px;
  }
  .header_img{
    width: 365px;
  }
}

@media (max-width:875px){
  .header{
    flex-direction: column;
    gap: 30px;
    justify-content: center;
  }
  .header_img{
    width: 545px;
  }
  .btnWrapper{
    justify-content: center;
  }
  .header_title{
    text-align: center;
  }
  .header_text{
    text-align: center;
  }
}

@media (max-width:570px){
  .slide img {
    width: 70px;
}
  .header_img{
    width: 365px;
  }
  .header_title{
    font-size: 33px;
  }
  .header {
    padding-top: 113px;
}
}

@media (max-width:430px){
  .btnWrapper{
    flex-direction: column;
  }
  .header_img{
    width: 340px;
  }
  .slide {
    width: 28% !important;
}
}
/* slider */
.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-top: 700px !important;

}
@media (max-width:1060px) {
  .slider{
  padding-top: 500px !important;

  }
}
@media (max-width:875px){
  .slider{
    padding-top: 900px !important;
  
    }
}
@media (max-width:590px){
  .slider{
    padding-top: 930px !important;
  
    }
}
@media (max-width:570px){
  .slider{
    padding-top: 783px !important;
    }
}

@media (max-width:405px){
  .slider{
    padding-top: 810px !important;
    }
}
@media (max-width:370px){
  .slider{
    padding-top: 865px !important;
    }
}
/* Slider trek */
.slider-track {
  display: flex;
  animation: slide 30s linear infinite;
}

/* Slaydlar */
.slide {
  width: 17%;
  padding: 18px 0;
  flex: 0 0 auto; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background: white;
  color: white;
}

/* Animatsiya */
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* footer */
.footer{
  background-color: #15182F;
  border-top: 1px solid #434343;
}
.footer-ul-title{
  color: #FCFCFC;
  margin-bottom: 6px;
}
.footer-ul-text{
  color: #B6B7BE;
  cursor: pointer;
  margin-bottom: 5px;
}
.footer-ul-text:hover{
  color: #c8c9cf;
}
.footer-p-title{
  color: #B6B7BE;
  margin-bottom: 6px;
}
.footer-phone{
  font-size: 20px;
}

@media (max-width:1060px){
  .footer_wrapper{
    flex-wrap: wrap;
    gap: 20px;
  }
}

/* advantages */

.ad_title{
  color: #FCFCFC;
  text-align: center;
  font-size: 36px;
}
.ad_text{
  color: #A8A9AD;
  text-align: center;
  font-size:18px ;
}
.ad_card_title{
  color: #FCFCFC;
font-size: 22px;
padding: 15px 0;
}
.ad_card_text{
  font-size: 16px;
  color: #A8A9AD;

}

.ad-card{
  width: 30%;
}
.col-br{
  position: relative;
  z-index: 1;
  border: 1px solid #434343;
  border-radius: 4px;
  padding: 10px; 

}
.ad-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  border: 2px solid transparent; 
  background: linear-gradient(114.23deg, #61B895 -62.2%, #149ED5 29.07%, #FF1CF7 111.62%);
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
          mask-composite: exclude;
  z-index: 0;
  transition: all 0.3s ease;
  opacity: 0; 
}

.ad-card:hover::before {
  cursor: pointer;
  opacity: 1; 
}

.select-course-title{
  font-size: 35px;
  color: #FCFCFC;
  /* text-align: center; */
}
.select-course-text{
  color: #A8A9AD;
  /* text-align: center; */
}
.ad-bottom-card{
  width: 33%;
  border-right: 1px solid #434343;
  border-bottom: 1px solid #434343;

}
.ad-bottom-card2{
  width: 33%;
  border-right: 1px solid #434343;

}
.ad-bottom-card3{
  width: 33%;
  border-bottom: 1px solid #434343;

}
.ad-bottom-card4{
  width: 33%;

}
@media (max-width:1060px){
  .ad-card{
    width: 90%;
  }
  .select-course{
    flex-direction: column;
  }
  .select-course-title{
    text-align: center;
  }
  .select-course-text{text-align: center;}
  .course-s-btnWrapper{
    justify-content: center;
  }
  .ad-bottom-card{
    width: 50%;
  }
  .ad-bottom-card2{
    width: 50%;
  }
  .ad-bottom-card3{
    width: 50%;
    border-right: 1px solid #434343;
    border-bottom: 1px solid #434343;
  }
  .ad-bottom-card4{
    width: 50%;
    border-right: 1px solid #434343;
  }
  .ad-bottom-card5{
    border-bottom: 1px solid #434343;

  }
}
@media (max-width:750px) {
  .ad-bottom-card{
    width: 90%;
  }
  .ad-bottom-card2{
    width: 90%;
  }
  .ad-bottom-card3{
    width: 90%;
  }
  .ad-bottom-card4{
    width: 90%;
  }
  .ad-bottom-card6{
    border-bottom: 1px solid #434343;

  }
}
@media (max-width:600px){
  .ad-card{
    width: 80%;
  }
}
@media (max-width:550px){
  .select-course-img1{
    width: 200px;
  }
  .select-course-img2{
    width: 150px;
  }
  .select-course-img3{
    width: 350px;
  }
}
@media (max-width:400px){
  .ad-card{
    width: 90%;
  }
  .select-course-img1{
    width: 180px;
  }
  .select-course-img2{
    width: 130px;
  }
  .select-course-img3{
    width: 310px;
  }
}
@media (max-width:1060px){
  .aboutUs-wrapper{
    flex-direction: column;
  }
  .aboutUsBtnWrapper{
    justify-content: center;
  }
}

@media (max-width:600px) {
  .aboutUsImg{
    width: 90%;
  }
}

/* Net Pro */

.netProCard{
  width: 32%;
  border: 1px solid #434343;
  border-radius: 4px;
}
.netProTop{
  border-bottom: 1px solid #434343;
}

@media (max-width:1060px) {
  .netProCard{
    width: 90%;
  }
}

/* Sertificate */
@media (max-width:1020px) {
  .sertificates{
    flex-direction: column;
  }
}

/* comments carousel */
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
.slick-carousel-item{
  background-color:#15182F;
  border: 1px solid #434343;
  border-radius: 4px;
}
.carousel-slide {
  padding: 0 10px; 
}

.carousel-container .slick-slide > div {
  display: flex;
  justify-content: center; 
}
.custom-dot {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.slick-dots li.slick-active .custom-dot {
  background-color:#5d6de8; /* Faol indikator uchun rang */
}
/* contact */

@media (max-width:1060px){
  .contact-wrapper{
    flex-direction: column;
    gap: 20px;
  }
  .contact-title{
    text-align: center;
  }
  .contact-btn{
    display: flex;
    gap: 35px;
  }
  .contactBtnWrapper{
    display: flex;
    justify-content: center;
  }
}
@media (max-width:640px){
  .contact-btn{
    flex-direction: column;
    gap: 10px;
  }
  .contact_location iframe{
    width: 450px;
  }
}
@media (max-width:500px){
  .contact_location iframe{
    width: 350px;
  }
}