.menuLink{
  transition: color linear 0.3s;

}
.menuLink:hover{
  color: rgb(113, 113, 248);
  /* transition: all linear 3; */
}
.mainBtn{
  background: linear-gradient(114.23deg, #61B895 -62.2%, #149ED5 29.07%, #FF1CF7 111.62%);
  padding: 12px 13px;
  border-radius: 2px;
  gap: 5px;
  transition: transform 0.3s ease;
}
.mainBtn:hover{
  transform: translateX(5px) translateY(5px);
  /* transform: translateZ(5px); */
}
.btnText{
  background: linear-gradient(114.23deg, #61B895 -62.2%, #149ED5 29.07%, #FF1CF7 111.62%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}